FROM_EMAIL=
FROM_EMAIL_PASSWORD=
TO_EMAIL=

ERROR_TRACES_FILE="error_traces" # Without file extension
TRACE_INFOS_FILE="trace_infos" # Without file extension
ALERT_USER_EMAILS="alert_user_emails.json" # With file extension

# Execute the code which monitors the current traces and sends needed notifications every EXECUTE_PERIOD_SECS
EXECUTE_PERIOD_SECS=10
# Send notification when SEND_NOTIF_AFTER_SECS pass since the trace was received
SEND_NOTIF_SECS=60
# Send notification when REMOVE_TRACE_SECS pass since the trace was received
REMOVE_TRACE_SECS=600