# Environment variables used by both trace_receiver and notifier
ERROR_TRACES_FILE="error_traces.sqlite3" # Default error_traces.sqlite3
TRACE_INFOS_FILE="trace_infos.sqlite3" # Default trace_infos.sqlite3


# Environment variables used by trace_receiver only
TRACE_RECEIVER_ADDRESS="[::]:50051" # Default [::]:50051
TRACE_RECEIVER_MAX_WORKERS=20 # Default 20
TRACE_RECEIVER_LOG_LEVEL=INFO # Default INFO. Can be NOTSET, DEBUG, INFO, WARNING, ERROR, CRITICAL


# Environment variables used by notifier only
EMAIL_COUNTERS="email_counters.sqlite3" # Default email_counters.sqlite3
MAX_EMAILS_PER_DAY=300 # More emails will not be sent, and log warnings instead
ALERT_USER_EMAILS="alert_user_emails.json" # With file extension. Default alert_user_emails.json
SMTP_MAILER_HOST="smtp.gmail.com"
SMTP_MAILER_PORT=465 # Default 465
FROM_EMAIL=
FROM_EMAIL_PASSWORD=
# Execute the code which monitors the current traces and sends needed notifications every EXECUTE_PERIOD_SECS
EXECUTE_PERIOD_SECS=10 # Default 10
# Send notification when SEND_NOTIF_AFTER_SECS pass since the trace was received
SEND_NOTIF_SECS=60 # Default 60
# Remove the trace when REMOVE_TRACE_SECS pass since the trace was received
REMOVE_TRACE_SECS=600 # Default 600
NOTIFIER_LOG_LEVEL=INFO # Default INFO. Can be NOTSET, DEBUG, INFO, WARNING, ERROR, CRITICAL